.custom-button {
    width: 100%;
    height: 48px;
    padding: 12px 16px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    color: #FFF;
    background: linear-gradient(90deg, #1A2856 0%, #334EA9 100%);
    cursor: pointer;
    font-weight: 600;
}

.custom-button:hover {
 opacity: 90%;
}


.danger-button {
    width: 100%;
    height: 48px;
    padding: 12px 16px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    color: #FFF;
    background: linear-gradient(90deg, #561a1a 0%, #a93333 100%) !important;
    cursor: pointer;
    font-weight: 600;
}

.danger-button:hover {
 opacity: 90%;
}

