<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-logo" routerLink="/">
            <img src="navbar/logo.svg" alt="logo">
        </a>
        <div class="collapse navbar-collapse justify-content-start">
            <ul class="navbar-nav">
                <li class="nav-item d-flex align-items-center">
                    <i class="ph ph-medal" [ngClass]="{ 'active': rlaListaCertificados.isActive }"></i>
                    <a class="nav-link p-0" #rlaListaCertificados="routerLinkActive" routerLink="/certificados" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Lista de certificados</a>
                </li>
                <li class="nav-item d-flex align-items-center ms-3">
                    <i class="ph ph-circles-three-plus" [ngClass]="{ 'active': rlaGerarCertificado.isActive }"></i>
                    <a class="nav-link p-0" #rlaGerarCertificado="routerLinkActive" routerLink="/certificados/novo-certificado" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Gerar certificado</a>
                </li>
                @if(isAdmin){
                  <li class="nav-item d-flex align-items-center">
                    <i class="ph ph-note-pencil" [ngClass]="{ 'active': rlaListaAtividades.isActive }"></i>
                    <a class="nav-link p-0" #rlaListaAtividades="routerLinkActive" routerLink="/atividades" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Lista de atividades</a>
                  </li>
                  <li class="nav-item d-flex align-items-center ms-3">
                    <i class="ph ph-users-four" [ngClass]="{ 'active': rlaListaUsuarios.isActive }"></i>
                    <a class="nav-link p-0" #rlaListaUsuarios="routerLinkActive" routerLink="/usuarios" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Lista de usuários</a>
                </li>
                }
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item d-flex align-items-center">
                    <!-- <button class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#painel_usuario">
                        Usuário: <strong>{{ nomeUsuario }}</strong>
                    </button> -->
                    <app-secondary-button [textoBotao]="'Usuário: ' + nomeUsuario" [phClass]="'ph ph-user'" data-bs-toggle="modal" data-bs-target="#painel_usuario"/>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="modal fade" id="painel_usuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-custom-color">
        <h1 class="modal-title fs-5 text-light" id="exampleModalLabel">
          Dados do usuário
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class="mb-2">
          Usuário: <strong>{{ nomeUsuario }}</strong>
        </div>
        <div class="mb-2">
          Email: <strong>{{ email }}</strong>
        </div>
        <div class="mb-2">
          Perfil: <strong>{{ perfil }}</strong>
        </div>
        <div class="mb-2">
          Acesso em: <strong>{{ dataHoraAcesso | date:'dd/MM/yyyy HH:mm:ss' }}</strong>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fechar Janela
        </button>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#painel_confirmacao_logout">
          Sair do Sistema
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="painel_confirmacao_logout" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h1 class="modal-title fs-5 text-light" id="exampleModalLabel">
          Aviso
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class="mb-2">
          <strong>Deseja realmente sair do sistema?</strong>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="logout()">
          Sim
        </button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Não
        </button>
      </div>
    </div>
  </div>
</div>