<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="card shadow" style="width: 24rem;">
    <div class="card-body">
      <img src="navbar/logo.svg" alt="logo" class="d-block mx-auto mb-3">
      <h4 class="card-title text-center mb-4">Login do Usuário</h4>
      
      <div class="text-danger text-center">
          <strong>{{mensagem_erro}}</strong>
      </div>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" formControlName="email" class="form-control" id="email" placeholder="Digite seu email" (focus)="onFocus()" required>
          @if(this.form.get('email')?.touched && this.form.get('email')?.invalid) {
            <div class="text-danger d-flex align-items-center">
              @if(this.form.get('email')?.errors?.['required']) {
                <i class="ph ph-warning-octagon"></i>
                <p class="mb-0"> O email do usuário deve ser informado.</p>
              }
              @else if(this.form.get('email')?.errors?.['email']) {
                <i class="ph ph-warning-octagon"></i>
                <p class="mb-0"> O email do usuário deve ser válido.</p>
              }
              @else if(this.form.get('email')?.errors?.['maxlength']) {
                <i class="ph ph-warning-octagon"></i>
                <p class="mb-0"> O email do usuário deve ter no máximo 100 caracteres.</p>
              }
            </div>
          }
        </div>
        <div class="mb-3">
          <label for="senha" class="form-label">Senha</label>
          <input type="password" formControlName="senha" class="form-control" id="senha" placeholder="Digite sua Senha" (focus)="onFocus()" required>
          @if(this.form.get('senha')?.touched && this.form.get('senha')?.invalid) {
            <div class="text-danger d-flex align-items-center">
              @if(this.form.get('senha')?.errors?.['required']) {
                <i class="ph ph-warning-octagon"></i>
                <p class="mb-0"> A senha do usuário deve ser informada.</p>
              }
              @else if(this.form.get('senha')?.errors?.['maxlength']) {
                <i class="ph ph-warning-octagon"></i>
                <p class="mb-0"> A senha do usuário deve ter no máximo 20 caracteres.</p>
              }
            </div>
          }
        </div>
        <!-- <button type="submit" class="btn btn-primary w-100">Entrar</button> -->
        <app-primary-button textoBotao="Entrar" class="submit"></app-primary-button>
      </form>
      <div class="mt-3 text-center">
        Não possui uma conta? Crie sua <a routerLink="/criar-usuario" class="link-primary">conta</a>!
      </div>
    </div>
  </div>
</div>